## Changes since {{ .PreviousVersion }}

{{ if .NotesByType.warning }}
## :warning: Breaking Changes
{{range .NotesByType.warning -}}
- {{ template "note" . }}
{{ end -}}
{{ end -}}

{{ if .NotesByType.feature -}}
## :sparkles: New Features
{{range .NotesByType.feature -}}
- {{ template "note" . }}
{{ end -}}
{{- end -}}

{{ if .NotesByType.bug -}}
## :bug: Bug Fixes
{{range .NotesByType.bug -}}
- {{ template "note" . }}
{{ end -}}
{{- end -}}

{{ if .NotesByType.other -}}
## :seedling: Others
{{range .NotesByType.other -}}
- {{ template "note" . }}
{{ end -}}
{{- end -}}

{{ if .NotesByType.documentation -}}
## :book: Documentation
{{range .NotesByType.documentation -}}
- {{ template "note" . }}
{{ end -}}
{{- end -}}

{{ if .NotesByType.testing -}}
## :green_heart: Testing
{{range .NotesByType.testing -}}
- {{ template "note" . }}
{{ end -}}
{{- end -}}

{{ if .NotesByType.unknown -}}
## :question: Sort these by hand
{{range .NotesByType.unknown -}}
- {{ template "note" . }}
{{ end -}}
{{- end }}
_Thanks to all our contributors!_ 😊
